@model SysCafeteriasweetcoffee.Models.Categoria

@{
    ViewData["Title"] = "Details";
}

<!-- Header con imagen y texto -->
<div class="category-header">
    <img src="@Model.img" alt="Imagen de la categoría" class="header-img">
    <h1 class="header-title">Detalles de la Categoría</h1>
</div>

<!-- Detalles de la categoría -->
<div class="category-details">
    <h4>Información de la Categoría</h4>
    <dl class="row">
        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Nombre)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.Nombre)</dd>
    </dl>
</div>

<div class="category-actions">
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary">Editar</a>
    <a asp-action="Index" class="btn btn-secondary">Volver a la lista</a>
</div>


<!-- Sección para mostrar los productos asociados a la categoría -->
<div>
    <h2 class="mt-5">Productos en esta Categoría</h2>
    <div class="row">
        @foreach (var producto in Model.Producto)
        {
            <div class="col-md-3 mb-3">
                <div class="dessert-item">
                    <!-- Imagen del producto -->
                    <img src="@producto.img" class="card-img-top" alt="Imagen del producto" style="height: 200px; object-fit: cover;">

                    <!-- Contenido de la tarjeta -->
                    <div class="card-body">
                        <h5 class="card-title">@producto.Nombre</h5>
                        <p class="card-text">
                            <small class="text-muted">Precio: @producto.Precio</small><br>
                            <small class="text-muted">Descripción: @producto.Descripcion</small><br>
                        </p>
                        <div class="d-flex justify-content-between">
                            <a asp-action="Details" asp-controller="Producto" asp-route-id="@producto.Id" class="btn btn-outline-secondary">Ver</a>
                            <a asp-action="Edit" asp-controller="Producto" asp-route-id="@producto.Id" class="btn btn-outline-info">Editar</a>
                            <a asp-action="Delete" asp-controller="Producto" asp-route-id="@producto.Id" class="btn btn-outline-danger">Eliminar</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
