@model SysCafeteriasweetcoffee.Models.Producto

@{
    ViewData["Title"] = "Details";
}

<head>
    <link rel="stylesheet" href="~/css/formulario.css">
</head>
<h1>Detalles</h1>

<h4>Producto</h4>
<hr />

<div class="row">
    <div class="col-md-4">
        <form class="details-form">
            <!-- Grupo de Nombre -->
            <div class="form-group">
                <label>Nombre:</label>
                <input type="text" class="form-control" value="@Model.Nombre" readonly />
            </div>
            <!-- Grupo de Precio -->
            <div class="form-group">
                <label>Precio:</label>
                <input type="text" class="form-control" value="@Model.Precio" readonly />
            </div>
            <!-- Grupo de Descripción -->
            <div class="form-group">
                <label>Descripción:</label>
                <input type="text" class="form-control" value="@Model.Descripcion" readonly />
            </div>
            <!-- Grupo de Categoría -->
            <div class="form-group">
                <label>Categoría:</label>
                <input type="text" class="form-control" value="@Model.IdCategoriaNavigation?.Id" readonly />
            </div>
            <!-- Grupo de Imagen -->
            <div class="form-group">
                <label>Imagen:</label>
                <input type="text" class="form-control" value="@Model.img" readonly />
            </div>
            <!-- Botones -->
            <div class="btn-spacing">
                <a asp-action="Edit" asp-route-id="@Model?.Id">
                    <button type="button" class="view-all-btn">Editar</button>
                </a>
            </div>
        </form>
        <!-- Botón Back to List -->
        <div class="btn-back">
            <a asp-action="Index">
                <button class="view-all-btn">Regresar</button>
            </a>
        </div>
    </div>
</div>
