@model IEnumerable<SysCafeteriasweetcoffee.Models.Producto>
<!-- Asegúrate de usar el namespace correcto -->

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<p>
    <a asp-action="Create">Create New</a>
</p>
 
<h1>Productos de la Cafeteria</h1>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-3 mb-3">
            <div class="dessert-item">
            
                <!-- Imagen del producto -->
                <img src="@item.img" class="card-img-top" alt="Imagen del producto" style="height: 200px; object-fit: cover;">

                <!-- Contenido de la tarjeta -->
                <div class="card-body">
                    <h5 class="card-title">@item.Nombre</h5>
                    <p class="card-text">
                        <small class="text-muted">Precio: @item.Precio</small><br>
                        <small class="text-muted">Descripción: @item.Descripcion</small><br>
                    </p>
                    <div class="d-flex justify-content-between">
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-secondary">Ver</a>
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-info">Editar</a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger">Eliminar</a>
                    </div>
                    <a asp-controller="Orden" asp-action="AgregarAlOrden">
                        <button class="view-all-btn">Ordenar</button>
                    </a>

                </div>
            </div>
            </div>
    }
    </div>

